.movie-details-div {
  background-color: white;
  border: 1px solid black;
  margin-left: -500px;
  margin-top: -250px;
  left: 50%;
  top: 50%; 
  box-shadow: 2px 2px 8px black;
  @include container-sizing(563px, 1000px);
  @include position-el(fixed, 12);
}

.movie-backdrop {
  width: 998px;
  @include position-el(absolute, 13);
}

.return-link {
  color: $main-text-color;
  margin: 20px;
  text-shadow: 2px 2px 8px black;
  @include position-el(absolute, 14);
  &:hover {
    @include text-hover-bg;
  }
}

.movie-text-div {
  background-color: rgba(0, 0, 0, 0.6);
  height: 275px;
  padding: 20px;
  top: 286px;
  @include position-el(relative, 14);
}

.movie-details-div {
  @include position-el(relative, 15);
}

.movie-details {
  color: $main-text-color;
}

#title-text {
  margin-top: 5px;
}

#overview-text {
  text-align: justify;
  width: 700px;
}
