#movie-container {
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 0 auto 10px auto;
  padding-top: 70px;
  @include display-type(grid, space-between, center);
  @include container-sizing(auto, 90%);
}

.faves-login {
  color: $main-text-color;
  font-size: 22px;
  text-align: center;
}

.login {
  text-decoration: none;
  color: $faves-page-login-color;
  &:hover {
    color: $hvr-text-color;
  }
}

.no-faves {
  color: $main-text-color;
  font-size: 22px;
  text-align: center;
}