.movie-card {
  margin: 0;
  height: 450px;
  width: 300px;
}

.movie-image {
  width: 300px;
}

.favorite-icon {
  border: none;
  background: url('./images/star-outline.png');
  background-size: cover;
  position: relative;
  top: 40px;
  right: -260px;
  width: 30px;
  height: 30px;

  &:focus {
    outline: none;
  }

  &:hover {
    background: url('./images/star-yellow.png');
    background-size: cover;
  }
}

.favorite {
  background: url('./images/star-yellow.png');
  background-size: cover;
}