.movie-card {
  margin: 0 auto;
  top: -32px;
  @include container-sizing(450px, 300px);
  @include position-el(relative, 0);  
  &:hover {
    box-shadow: $movie-card-hover;
  }
}

.movie-image {
  top: -32px;
  @include position-el(relative, 0);
  @include container-sizing(auto, 300px);
}

.placeholder {
  margin-top: 32px;
}

.favorite-icon {
  background: url('./images/star-outline.png');
  background-size: cover;
  border: none;
  top: 10px;
  right: -260px;
  @include container-sizing(30px, 30px);
  @include position-el(relative, 2);
  &:focus {
    outline: none;
  }
  &:hover {
    background: url('./images/star-yellow.png');
    background-size: cover;
  }
}

.favorite {
  background: url('./images/star-yellow.png');
  background-size: cover;
}