.overlay-div {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  z-index: 11;
  position: fixed;
  left: 0;
  top: 0;
}

.login-div {
  background-color: #4a4a4a;
  color: white;
  position: fixed;
  margin: 10px auto;
  width: 325px;
  height: 400px;
  padding: 20px;
  border: 1px solid black;
  z-index: 12;
  left: 50%;
  margin-left: -162.5px;
  margin-top: -200px;
  position: fixed;
  top: 50%; 
  box-shadow: 2px 2px 8px black;
}

form {
  width: 200px;
  margin: auto;
}

label {
  text-transform: capitalize;
  display: block;
  margin: 15px 0 5px 0;
  font-family: 'Montserrat', sans-serif;
  color: #e34fe3;
}

input {
  font-size: 16px;
  height: 30px;
  padding: 5px;
  width: 200px;
  display: block;

  &:focus {
    outline: none;
  }
}

.home-link {
  border: none;
  background: url('./images/cancel.png');
  background-size: cover;
  width: 25px;
  height: 25px;
  display: block;
  margin: 0 0 0 auto;
  font-family: 'Montserrat', sans-serif;

  &:focus {
    outline: none;
  }

  &:hover {
    background: url('./images/cancel-purple.png');
    background-size: cover;
  }
}

.submit-button {
  background-color: lightgrey;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 15px;
  max-width: 200px;
  padding: 5px;

  &:hover {
    background-color: #e34fe3;
  }
}

.sign-up-login-link {
  margin-top: 10px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  font-family: 'Montserrat', sans-serif;

  &:hover {
    color: #e34fe3;
  }
}

.response {
  color: #e34fe3;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.form-title {
  font-family: 'Montserrat', sans-serif;
}