.overlay-div {
  background-color: rgba(0, 0, 0, 0.7);
  left: 0;
  top: 0;
  @include container-sizing(100%, 100%);
  @include position-el(fixed, 11);
}

.login-div {
  background-color: $login-signup-bg;
  border: 1px solid black;
  color: $main-text-color;
  padding: 20px;
  margin-left: -162.5px;
  margin-top: -200px;
  left: 50%;
  top: 50%; 
  box-shadow: 2px 2px 8px black;
  @include position-el(fixed, 12);
  @include container-sizing(400px, 325px);
}

form {
  margin: auto;
  @include container-sizing(auto, 200px);
}

label {
  display: block;
  margin: 15px 0 5px 0;  color: $form-color;
  text-transform: capitalize;
}

input {
  display: block;
  font-size: 16px;
  padding: 5px;
  @include container-sizing(30px, 200px);
  &:focus {
    outline: none;
  }
}

.home-link {
  border: none;
  background: url('./images/cancel.png');
  background-size: cover;
  display: block;
  margin: 0 0 0 auto;
  @include container-sizing(25px, 25px);
  &:focus {
    outline: none;
  }
  &:hover {
    background: url('./images/cancel-purple.png');
    background-size: cover;
  }
}

.submit-button {
  background-color: lightgrey;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 15px;
  max-width: 200px;
  padding: 5px;
  &:hover {
    background-color: $form-color;
  }
}

.sign-up-login-link {
  margin-top: 10px;
  color: $main-text-color;
  text-align: center;
  text-decoration: none;
  display: block;
  &:hover {
    color: $form-color;
  }
}

.response {
  color: $form-color;
  text-align: center;
}
