*,
*:after,
*:before {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; 
}

body {
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;
}

header {
  color: white;
  padding: 40px 6% 20px 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1  {
  font-family: 'Righteous', cursive;
  text-transform: uppercase;
  font-size: 50px;
}

.nav-links {
  color: white;
  font-size: 20px;
  margin: 10px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;

  &:hover {
    color: purple;
  }
}

#sign-out-button {
  font-size: 20px;
  border: none;
  background: none;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

.user-name {
  font-size: 20px;
  border: none;
  background: none;
  color: purple;
  margin-right: 20px;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
}

.header-bg {
  display: flex;
  align-items: center;
  padding: 0 0 0 25px;
  font-size: 4rem;
  margin: 0;
  height: 150px;
  width: 100vw;
  background: linear-gradient(166deg, #660677 5%, #a334b6 17%, #b460c2 21%, #d8a6e1 32%, #e8b5f1 40%, rgba(125, 185, 232, 0) 53%);
}

.header-bg:after {
  content: '';
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 0;
  z-index: -1;
  height: 150px;
  width: 100vw;
  background: linear-gradient(346deg, #660677 7%, #a334b6 19%, #b460c2 26%, rgba(216, 166, 225, 0.8) 32%, rgba(232, 181, 241, 0.7) 39%, rgba(125, 185, 232, 0) 54%);
}