header {
  padding: 40px 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  color: black;
  font-size: 20px;
  margin: 10px;
  text-decoration: none;
}

.selected {
  color: hotpink;
}

#sign-out-button {
  font-size: 20px;
  border: none;
  background: none;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}