*,
*:after,
*:before {
  box-sizing: border-box;
  font-family: $main-page-font;
}

body {
  background-image: url('./images/main-bg.jpg');
  background-size: 1440px 100vh;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

header {
  color: $main-text-color;
  padding: 40px 6% 20px 6%;
  @include position-el(fixed, 8);
  @include display-type(flex, space-between, center);
}

h1  {
  font-family: $movie-tracker-font;
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.nav-links {
  color: $main-text-color;
  font-size: 20px;
  margin: 10px;
  padding: 0 2px;
  text-decoration: none;

  &:hover {
    @include text-hover-bg;
  }
}

#sign-out-button {
  border: none;
  background: none;
  font-size: 20px;
  &:hover {
    cursor: pointer;
    @include text-hover-bg;
  }
  &:focus {
    outline: none;
  }
}

.user-name {
  color: $hvr-text-color;
  border: none;
  background: none;
  font-size: 20px;
  font-weight: 900;
  margin-right: 20px;
}

.nav-bar {
  padding-right: 30px;
}

.header-bg {
  font-size: 4rem;
  padding: 0 0 0 75px;
  @include header-bg-styling($left-header-bg, center);
}

.header-bg:after {
  content: '';
  justify-content: flex-end;
  @include header-bg-styling($right-header-bg, flex-end);
  @include position-el(absolute, -1);
}

.selected {
  font-weight: 800;
}