$hvr-text-color: purple;
$hvr-bg-color: white;

$main-text-color: white;

$form-color: #e34fe3;

$faves-page-login-color: lightskyblue;

$login-signup-bg: #4a4a4a;

$movie-card-hover: 0px 0px 15px 10px rgba(255,255,255,0.8);

$movie-tracker-font: 'Righteous', cursive;
$main-page-font: 'Montserrat', sans-serif;

$left-header-bg: linear-gradient(166deg, #660677 5%, #a334b6 17%, #b460c2 21%, #d8a6e1 32%, #e8b5f1 40%, rgba(125, 185, 232, 0) 53%);

$right-header-bg: linear-gradient(346deg, #660677 7%, #a334b6 19%, #b460c2 26%, rgba(216, 166, 225, 0.8) 32%, rgba(232, 181, 241, 0.7) 39%, rgba(125, 185, 232, 0) 54%);